body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: blue;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode button {
    background-color: gray;
    color: white;
}

.dark-mode button:hover {
    background-color: gray;
}